TELEGRAM_BOT_TOKEN=your_telegram_token
YANDEX_CLOUD_MODEL=yandexgpt/latest
YANDEX_CLOUD_FOLDER=your_folder_id
YANDEX_CLOUD_API_KEY=your_api_key
YANDEX_CLOUD_LLM_URL=https://rest-assistant.api.cloud.yandex.net/v1
VECTOR_STORE_ID=your_vector_store_id